*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343434;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 450px;
    height: 500px;
    max-width: 80%;
    background-color: antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

#text {
    text-align: center;
}

.btn-right {
    float: right;
}

.btn {
    display: inline-flex;
    padding: 5px;
    margin: 10px;
}

.stat {
    display: inline-block;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

}

#church, #money, #king, #health {

}

.stats {
    display: table-cell;
    vertical-align: center;
}

.stat-symbol {
    width: 50px;
    height: 50px;
}

.character-card {
    width: 430px;
    height: 290px;
    background-image:    url(images/user.png);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.user-card {
    background-image:    url(images/user.png);
}

.church-card {
    background-image:    url(images/church.png);
}

.money-card {
    background-image:    url(images/money.png);
}

.king-card {
    background-image:    url(images/king.png);
}

.health-card {
    background-image:    url(images/health.png);
}

.gameover-card {
    background-image:    url(images/gameover.png);
}

#health-progress {border:2px solid #050505;width:76px; border-radius: 5px;}
#king-progress {border:2px solid #050505;width:76px; border-radius: 5px;}
#money-progress {border:2px solid #050505;width:76px; border-radius: 5px;}
#church-progress {border:2px solid #050505;width:76px; border-radius: 5px;}
#church {background:#333;height:10px;width:50%}
#king {background:#333;height:10px;width:50%}
#money {background:#333;height:10px;width:50%}
#health {background:#333;height:10px;width:50%}

.score-container {
    position: fixed;
    top: 0%;
    left: 47%;
    color: white;
}

.restart {
    position: fixed;
    bottom: 3%;
    left: 47%;
}