@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/bg.png");
    width: 100vw;
    height: 100vh;

}

.background {
    background-image: url("img/bg2.png");
    background-color: #343434;
}

.option-buttons {
    display: flex;
    flex-direction: column;
}

.container {
    width: 450px;
    height: 500px;
    max-width: 80%;
    background-color: #586C82;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    border-radius: 5px;
    box-shadow: 7px 5px 14px 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#text {
    text-align: center;
    color: white;
}

.btn-right {
    float: right;
    width: 200px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-left {
    width: 200px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn {
    display: inline-flex;
    padding: 5px;
}

.stat {
    display: inline-block;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
    font-weight: bold;

}

#church, #money, #king, #health {

}

.stats {
    display: table-cell;
    vertical-align: center;
}

.animated-word {
    font-family: "Roboto", serif;
    letter-spacing: 0.4em;
    font-weight: 600;
    font-size: 100px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    max-width: 600px;
    width: 100%;
    outline: rgb(76, 117, 79) solid 3px;
    outline-offset: 70px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.animated-word:hover {
    color: rgb(76, 117, 79);
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
}

button:hover {
    background-color: rgba(84, 92, 104, 0.43);
}

button {
    border-radius: 8px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    background-color: #545c68;
    color: white;

}


.stat-symbol {
    width: 50px;
    height: 50px;
}

.character-card {
    width: 430px;
    height: 250px;
    background-image: url(images/user.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform-origin: 50% 99%;
    border-radius: 10px;
    margin-top: 5px;
}

.user-card {
    background-image: url(images/user.png);
}

.church-card {
    background-image: url(images/church.png);
}

.money-card {
    background-image: url(images/money.png);
}

.king-card {
    background-image: url(images/king.png);
}

.health-card {
    background-image: url(images/health.png);
}

.gameover-card {
    background-image: url(images/gameover.png);
}

#health-progress {
    border: 2px solid #050505;
    width: 76px;
    border-radius: 5px;
}

#king-progress {
    border: 2px solid #050505;
    width: 76px;
    border-radius: 5px;
}

#money-progress {
    border: 2px solid #050505;
    width: 76px;
    border-radius: 5px;
}

#church-progress {
    border: 2px solid #050505;
    width: 76px;
    border-radius: 5px;
}

#church {
    background: #333;
    height: 10px;
    width: 50%
}

#king {
    background: #333;
    height: 10px;
    width: 50%
}

#money {
    background: #333;
    height: 10px;
    width: 50%
}

#health {
    background: #333;
    height: 10px;
    width: 50%
}

.score-container {
    position: fixed;
    top: 0%;
    left: 47%;
    color: white;
}

.restart {
    position: fixed;
    bottom: 3%;
    left: 47%;
}

#foobar {
    display: none
}

@keyframes yay {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }
    to {
        transform: rotate(40deg) translateY(-80px);
        opacity: 0;
    }
}

@keyframes nope {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }
    to {
        transform: rotate(-40deg) translateY(-80px);
        opacity: 0;
    }
}

.character-card-yay {
    animation: yay 1s ease-out;
}

.character-card-nope {
    animation: nope 1s ease-out;
}

